/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: center;
  background-image: url("https://cdn.glitch.me/0ae94495-3c5b-4e13-ac21-02ffed287dcb%2F13123.jpg?v=1635703595250");background-repeat:no-repeat;>
  \
  200px;border:3px solid black;"
}



/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}