
html {
box-sizing: border-box;
width: 1200px;
margin: auto;
height: 125px;
border: solid green 12px;
padding:auto;


}


  h2 {
  color:#E0FF3C;
  text-shadow: #2A3D4E 1px 1px,#2A3D4E -0px 0px,#2A3D4E -1px 1px,#2A3D4E -2px 2px,#2A3D4E -3px 3px,#2A3D4E -4px 4px,#2A3D4E -5px 5px,#2A3D4E -6px 6px,#2A3D4E -7px 7px,#2A3D4E -8px 8px,#2A3D4E -9px 9px;
  text-align: center;
  font-family: sans-serif;
}
body {
  background-image: url("https://cdn.glitch.me/0ae94495-3c5b-4e13-ac21-02ffed287dcb%2Fgdg.jpg?v=1635705509789");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;>
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 500px;
  margin: auto;
  padding:40px 25px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="parole"],
input[type="date"],
input[type="datetime"],
input[type="uzvārds"],
input[type="vecums"],
input[type="search"],
input[type="Ē-pasts"],
input[type="time"],
input[type="pieteikties"],
textarea,
select {
  background: rgba(260,200,255,0.1);
  border: none;
  font-size: 10px;
  height: 25px;
  margin: 0;
  outline: 0;
  padding: 20px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
}



button {
  padding: 20px 35px 20px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 5px;
}
button123 {
  padding: 2px 2px 2px 2px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid yellow;
  border-width: 5px 20px 5px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}
fieldset {
  margin-bottom: 30px;
  margin-top: 40px;
  border: none;
}


}
legend {
  font-size: 1.4em;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 20px;
}





