
html {
box-sizing: border-box;
width: 1200px;
margin: auto;
height: 150px;
border: solid black 3px;
padding: 5px;

}


body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: center;
  background-image: url("https://cdn.glitch.me/0ae94495-3c5b-4e13-ac21-02ffed287dcb%2F131232131.jpg?v=1635705368067");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;>
}





/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}